@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
    font-family: "Pretendard";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#map {
    height: calc(100% - 50px);
    /* Adjusted to leave space for the bottom section */
    width: 100%;
    position: relative;
}

#grey-area {
    position: fixed;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* Adjusted to show less area */
    background-color: #26272B;
    /* Darker background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    transition: height 0.3s ease;
    border-radius: 10px 10px 0px 0px;
    display: flex;
}

#grey-area.expanded {
    height: 90vh;
    position: absolute;
    /* Expanded height for the grey area */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
}

#up-arrow {
    position: absolute;
    color: #fff;
    /* White color for the arrow */
    cursor: pointer;
    font-size: 24px;
    /* Adjusted arrow size */
    top: 10px;
}

#plus-container {
    position: fixed;
    bottom: 70px;
    /* Adjusted to position above the grey area */
    right: 20px;
    background-color: #000;
    /* Dark background color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#plus-sign {
    color: #fff;
    /* White color for the plus sign */
    font-size: 30px;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Darker overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    color: #848389;
}

.modal-content {
    background-color: #2C2C2E;
    padding: 50px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#modal-form input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    background-color: #2C2C2E;
}

#submit-button {
    width: 100%;
    padding: 10px;
    background-color: #3F4347;
    border: none;
    border-radius: 5px;
    color: #848389;
    cursor: pointer;
}

.card {
    background-color: #333;
    color: #eee;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    /* Adjust the width as necessary */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;

}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.distance {
    font-size: 14px;
    color: #bbb;
}

.address {
    font-size: 14px;
    color: #bbb;
    margin-bottom: 10px;
}

.badge {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    width: 50px;
}